asttokens==2.4.1
beancount==2.3.6
beautifulsoup4==4.12.3
bottle==0.12.25
cachetools==5.3.3
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
decorator==5.1.1
executing==2.0.1
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.1
httplib2==0.22.0
idna==3.7
iniconfig==2.0.0
ipython==8.25.0
jedi==0.19.1
lxml==5.2.2
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.1
pandas==2.2.2
parso==0.8.4
pdfminer2==20151206
pexpect==4.9.0
pluggy==1.5.0
ply==3.11
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2024.1
requests==2.32.3
rsa==4.9
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
wcwidth==0.2.13
xlrd==2.0.1
